@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Vermin Vibes';
  src: url('./../fonts/VerminVibes.otf') format('opentype');
}

$color-light: #f3f3f3;
$color-dark: #3c3f43;
$color-warning: #b13957;
$board-cell-size: 34px;
$board-cell-border-width: 1.3px;
$board-color-primary: #77a6de;
$board-color-secondary: #0081f8;
$ship-color: #8c929c;
$ship-radius: 18px;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Poppins';
}

#bg {
  background: linear-gradient(0deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.4)),
    url('./../images/bg.jpg');
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  background-position: 50% 70%;
  z-index: -1;
  position: fixed;
}

.game-title {
  font-family: 'Vermin Vibes';
  font-size: 5rem;
  color: $color-light;
  text-align: center;
  padding-top: 5rem;
  letter-spacing: 0.5rem;
}

.form-wrapper {
  font-family: 'Vermin Vibes';
  background: rgb(133 133 133 / 90%);
  box-shadow: -15px -10px 20px 3px rgba(0, 0, 0, 0.25), 10px 15px 20px 3px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: min-content;
  padding: 3rem 12rem;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.form {
  color: $color-light;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    font-size: 2.8rem;
  }

  &__username {
    margin: 3rem auto;

    label {
      display: block;
      font-size: 1.3rem;
      margin-bottom: 0.7rem;
    }

    input {
      font-family: 'Poppins';
      background: #c4c4c4;
      border-radius: 5px;
      width: 320px;
      height: 35px;
      border: none;
      font-size: 1.5rem;
      padding-left: 1rem;
      color: $color-dark;
      border-bottom: 5px solid transparent;
      transition: border-bottom 150ms ease-out;

      &:focus {
        outline: none;
        border-bottom: 5px solid #3c3f43;
      }
    }
  }

  &__option-btns {
    margin: 1.2rem 0;

    label {
      width: 320px;
      height: 50px;
      background: #9b9b9b;
      border: 1px solid #757575;
      border-radius: 5px;
      display: grid;
      place-items: center;
      cursor: pointer;
      margin-bottom: 2rem;
    }

    input {
      display: none;
      position: relative;

      &:checked + label {
        animation: blink 700ms ease-out infinite alternate;
      }
    }
  }

  &__button {
    font-family: 'Vermin Vibes';
    text-decoration: none;
    color: $color-dark;
    font-size: 2rem;
    background: #c4c4c4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 1rem 5rem;
    transition: all 250ms ease-out;
    cursor: pointer;

    &:hover,
    &:active {
      transform: translateY(-5%);
      background-color: lighten(#c4c4c4, 5%);
    }
  }
}

.app-actions {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 2%;
  right: 2%;
  width: 125px;
  height: 50px;

  &__bg,
  &__music {
    display: grid;
    place-items: center;
    width: 45px;
    height: 45px;
    background-color: $color-light;
    border-radius: 3px;
    cursor: pointer;
  }
}

.modal {
  padding: 1.5rem 3rem;
  position: fixed;
  background-color: $color-light;
  box-shadow: 2px 1px 3px rgb(0 0 0 /30%);
  transform: translate(-50%, 0);
  left: 50%;
  top: 10%;
  opacity: 1;
  transition: all 250ms ease-out;
  z-index: 10;
  border-radius: 5px;

  &__description {
    text-align: center;
    padding: 4rem 0 2rem;
    color: $color-warning;
  }

  &__close {
    position: absolute;
    top: 7%;
    right: 5%;
    transform: scale(1.1);
    cursor: pointer;
  }

  &--hidden {
    transform: translate(-50%, -30%);
    opacity: 0;
  }
}

@keyframes blink {
  from {
    background-color: lighten(#9b9b9b, 0%);
  }

  to {
    background-color: lighten(#9b9b9b, 11%);
  }
}

.board-wrapper {
  background-color: rgb(112 144 192 / 85%);
  width: 800px;
  height: 515px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  box-shadow: 1px 3px 12px 2px rgb(255 255 255 / 30%);
}

.board {
  box-sizing: content-box;
  background: $board-color-primary;
  margin-left: 4rem;
  display: grid;
  grid-template-rows: repeat(10, $board-cell-size + $board-cell-border-width);
  border: 2px solid $board-color-secondary;
  border-bottom: $board-cell-border-width solid $board-color-secondary;

  &__row {
    display: grid;
    grid-template-columns: repeat(10, $board-cell-size);

    //TODO Border fix
    // border-bottom: $board-cell-border-width solid $board-color-secondary;
    // &:last-child {
    //   border-bottom: $board-cell-border-width solid transparent;
    // }
  }
  &__cell {
    border-left: $board-cell-border-width solid $board-color-secondary;
    border-bottom: $board-cell-border-width solid $board-color-secondary;
    cursor: pointer;

    //TODO IN GAME
    // &:hover {
    //   background-color: lighten($board-color-primary, 5%);
    // }

    &:first-child {
      border-left: $board-cell-border-width solid transparent;
    }
  }
}

.ships {
  width: 45%;
  height: $board-cell-size * 5 + 100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  position: relative;

  &--rotated {
    flex-direction: row;
    align-items: flex-start;
  }
}

.ship {
  &--carrier {
    width: $board-cell-size * 5;
    height: $board-cell-size;
    background-color: $ship-color;
    border-radius: $ship-radius;

    &--rotated {
      width: $board-cell-size;
      height: $board-cell-size * 5;
    }
  }

  &--battleship {
    width: $board-cell-size * 4;
    height: $board-cell-size;
    background-color: $ship-color;
    border-radius: $ship-radius;

    &--rotated {
      width: $board-cell-size;
      height: $board-cell-size * 4;
    }
  }

  &--cruiser {
    width: $board-cell-size * 3;
    height: $board-cell-size;
    background-color: $ship-color;
    border-radius: $ship-radius;

    &--rotated {
      width: $board-cell-size;
      height: $board-cell-size * 3;
    }
  }

  &--submarine {
    width: $board-cell-size * 3;
    height: $board-cell-size;
    background-color: $ship-color;
    border-radius: $ship-radius;

    &--rotated {
      width: $board-cell-size;
      height: $board-cell-size * 3;
    }
  }

  &--destroyer {
    width: $board-cell-size * 2;
    height: $board-cell-size;
    background-color: $ship-color;
    border-radius: $ship-radius;

    &--rotated {
      width: $board-cell-size;
      height: $board-cell-size * 2;
    }
  }
}

//* Ship on board styles

.taken {
  background-color: $ship-color;
  cursor: default;
  border: none;
  position: relative;

  &--horizontal {
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border-bottom: $board-cell-border-width solid $board-color-secondary;
    }
  }
  &--vertical {
    border-left: $board-cell-border-width solid $board-color-secondary;
  }

}

.ship-h-start {
  border-radius: $ship-radius 0 0 $ship-radius;
  position: relative;


  &::after {
    content: '';
    position: absolute;
    inset: 0;
    width: $board-cell-size;
    height: $board-cell-size;
    border-left: $board-cell-border-width solid $board-color-secondary;
    border-bottom: $board-cell-border-width solid $board-color-secondary;
  }
}

.ship-v-start {
  border-radius: $ship-radius $ship-radius 0 0;
  position: relative;
  border: none;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    width: $board-cell-size;
    height: $board-cell-size;
    border-left: $board-cell-border-width solid $board-color-secondary;
  }
}

.ship-h-end {
  border-radius: 0 $ship-radius $ship-radius 0;
  position: relative;
  border: none;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    width: $board-cell-size;
    height: $board-cell-size;
    border-bottom: $board-cell-border-width solid $board-color-secondary;
  }
}

.ship-v-end {
  border-radius: 0 0 $ship-radius $ship-radius;
  position: relative;
  border: none;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    width: $board-cell-size;
    height: $board-cell-size;
    border-bottom: $board-cell-border-width solid $board-color-secondary;
    border-left: $board-cell-border-width solid $board-color-secondary;
  }
}

.board-btns {
  position: absolute;
  bottom: 5%;
  right: 4%;
}

.board-btn {
  font-family: 'Poppins';
  font-weight: 600;
  text-align: center;
  background-color: darken($color-light, 10%);
  border: none;
  color: $color-dark;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 150ms ease-out;

  &:hover {
    transform: translateY(-3%);
  }

  &--rotate {
    margin-right: 3rem;
  }
  &--undo-move {
  }
}
