@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "Vermin Vibes";
  src: url("./../fonts/VerminVibes.otf") format("opentype");
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Poppins";
}

button {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#bg {
  background: linear-gradient(0deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.4)), url("./../images/bg.jpg");
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  background-position: 50% 70%;
  z-index: -1;
  position: fixed;
}

.game-title {
  font-family: "Vermin Vibes";
  font-size: 5rem;
  color: #f3f3f3;
  text-align: center;
  padding-top: 5rem;
  letter-spacing: 0.5rem;
}

.form-wrapper {
  font-family: "Vermin Vibes";
  background: rgba(133, 133, 133, 0.9);
  box-shadow: -15px -10px 20px 3px rgba(0, 0, 0, 0.25), 10px 15px 20px 3px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: min-content;
  padding: 3rem 12rem;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.form {
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__header {
  font-size: 2.8rem;
}
.form__username {
  margin: 3rem auto;
}
.form__username label {
  display: block;
  font-size: 1.3rem;
  margin-bottom: 0.7rem;
}
.form__username input {
  font-family: "Poppins";
  background: #c4c4c4;
  border-radius: 5px;
  width: 320px;
  height: 35px;
  border: none;
  font-size: 1.5rem;
  padding-left: 1rem;
  color: #3c3f43;
  border-bottom: 5px solid transparent;
  transition: border-bottom 150ms ease-out;
}
.form__username input:focus {
  outline: none;
  border-bottom: 5px solid #3c3f43;
}
.form__option-btns {
  margin: 1.2rem 0;
}
.form__option-btns label {
  width: 320px;
  height: 50px;
  background: #9b9b9b;
  border: 1px solid #757575;
  border-radius: 5px;
  display: grid;
  place-items: center;
  cursor: pointer;
  margin-bottom: 2rem;
}
.form__option-btns input {
  display: none;
  position: relative;
}
.form__option-btns input:checked + label {
  animation: blink 700ms ease-out infinite alternate;
}
.form__button {
  font-family: "Vermin Vibes";
  text-decoration: none;
  color: #3c3f43;
  font-size: 2rem;
  background: #c4c4c4;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 1rem 5rem;
  transition: all 250ms ease-out;
  cursor: pointer;
}
.form__button:hover, .form__button:active {
  transform: translateY(-5%);
  background-color: #d1d1d1;
}

.app-actions {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  bottom: 2%;
  right: 2%;
  width: 125px;
  height: 50px;
}
.app-actions__music {
  display: grid;
  place-items: center;
  width: 45px;
  height: 45px;
  background-color: #f3f3f3;
  border-radius: 3px;
  cursor: pointer;
}

.modal {
  padding: 1.5rem 3rem;
  position: fixed;
  background-color: #f3f3f3;
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, 0);
  left: 50%;
  top: 10%;
  opacity: 1;
  transition: all 250ms ease-out;
  z-index: 10;
  border-radius: 5px;
}
.modal__description {
  text-align: center;
  padding: 4rem 0 2rem;
  color: #b13957;
}
@media only screen and (max-width: 700px) {
  .modal__description {
    font-size: 1rem;
    padding: 0;
  }
}
.modal__close {
  position: absolute;
  top: 7%;
  right: 5%;
  transform: scale(1.1);
  cursor: pointer;
}
.modal--hidden {
  transform: translate(-50%, -30%);
  opacity: 0;
}

.game-container {
  display: flex;
  justify-content: space-around;
  padding-top: 7rem;
}

.board,
.board--enemy {
  box-sizing: content-box;
  background: #77a6de;
  display: grid;
  grid-template-rows: repeat(10, 4.6vmin);
}
.board__row,
.board--enemy__row {
  display: grid;
  grid-template-columns: repeat(10, 4.6vmin);
}
.board__row:last-child div,
.board--enemy__row:last-child div {
  border-bottom: none;
}
.board__cell,
.board--enemy__cell {
  position: relative;
  border-left: 0.04vmin solid rgba(243, 243, 243, 0.15);
  border-bottom: 0.04vmin solid rgba(243, 243, 243, 0.15);
  cursor: pointer;
}
.board__cell:first-child,
.board--enemy__cell:first-child {
  border-left: 0.04vmin solid transparent;
}

.move-indicator {
  margin-top: 1rem;
  height: 45px;
}
@media only screen and (max-width: 800px) {
  .move-indicator {
    height: 20px;
    margin-top: 0;
  }
}
.move-indicator img {
  display: block;
  margin: auto;
  animation: indicateMove 250ms ease infinite alternate;
}
@media only screen and (max-width: 800px) {
  .move-indicator img {
    transform: scale(0.6);
    animation: none;
  }
}

.board-wrapper {
  width: 95%;
  position: fixed;
  left: 50%;
  top: 5%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.board-wrapper--enemy {
  visibility: hidden;
  opacity: 0;
  z-index: 11;
}

.board__cell:hover {
  cursor: default;
}
.board--enemy__cell:hover {
  background-color: #8cb3e3 !important;
}

.ships {
  display: flex;
  position: relative;
}
.ships--rotated {
  flex-direction: row;
  align-items: flex-start;
}

.ship {
  margin: 1rem;
}
.ship--destroyed {
  position: absolute;
  left: 50%;
  top: 50%;
  background: #b13957;
}
.ship--destroyed:hover {
  background: inherit !important;
}
.ship--hidden {
  display: none;
}
.ship--computer {
  cursor: pointer !important;
  background-color: rgba(0, 0, 0, 0) !important;
}
.ship--carrier {
  width: 23vmin;
  height: 4.6vmin;
  background-color: #8c929c;
  border-radius: 20px;
}
.ship--carrier--rotated {
  width: 4.6vmin;
  height: 23vmin;
}
.ship--battleship {
  width: 18.4vmin;
  height: 4.6vmin;
  background-color: #8c929c;
  border-radius: 20px;
}
.ship--battleship--rotated {
  width: 4.6vmin;
  height: 18.4vmin;
}
.ship--cruiser {
  width: 13.8vmin;
  height: 4.6vmin;
  background-color: #8c929c;
  border-radius: 20px;
}
.ship--cruiser--rotated {
  width: 4.6vmin;
  height: 13.8vmin;
}
.ship--submarine {
  width: 13.8vmin;
  height: 4.6vmin;
  background-color: #8c929c;
  border-radius: 20px;
}
.ship--submarine--rotated {
  width: 4.6vmin;
  height: 13.8vmin;
}
.ship--destroyer {
  width: 9.2vmin;
  height: 4.6vmin;
  background-color: #8c929c;
  border-radius: 20px;
}
.ship--destroyer--rotated {
  width: 4.6vmin;
  height: 9.2vmin;
}
.ship-horizontal-start::after, .ship-vertical-start::after, .ship-horizontal-end::after, .ship-vertical-end::after {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1.5px;
  right: -1px;
}
.ship-horizontal-start {
  border-radius: 20px 0 0 20px;
}
.ship-horizontal-start::after {
  border-left: 0.04vmin solid rgba(243, 243, 243, 0.15);
  border-bottom: 0.04vmin solid rgba(243, 243, 243, 0.15);
}
.ship-horizontal-end {
  border-radius: 0 20px 20px 0;
}
.ship-horizontal-end::after {
  border-right: 0.04vmin solid rgba(243, 243, 243, 0.15);
  border-bottom: 0.04vmin solid rgba(243, 243, 243, 0.15);
}
.ship-vertical-start {
  border-radius: 20px 20px 0 0;
}
.ship-vertical-start::after {
  border-left: 0.04vmin solid rgba(243, 243, 243, 0.15);
}
.ship-vertical-end {
  border-radius: 0 0 20px 20px;
}
.ship-vertical-end::after {
  border-bottom: 0.04vmin solid rgba(243, 243, 243, 0.15);
  border-left: 0.04vmin solid rgba(243, 243, 243, 0.15);
}
.ship--attacked {
  position: relative;
  border-left: 0.04vmin solid rgba(243, 243, 243, 0.15);
  border-bottom: 0.04vmin solid rgba(243, 243, 243, 0.15);
}
.ship--attacked::after {
  content: "";
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #b13957;
  border-radius: 50%;
}
.ship--attacked::before {
  content: "";
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  background-color: #b13957;
  opacity: 0.3;
  border-radius: 50%;
  animation: overfill 1s ease alternate;
}
.ship--attacked:hover {
  background-color: transparent !important;
}
.ship--missed {
  position: relative;
  border-left: 0.04vmin solid rgba(243, 243, 243, 0.15);
  border-bottom: 0.04vmin solid rgba(243, 243, 243, 0.15);
}
.ship--missed::after {
  content: "";
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f3f3f3;
  border-radius: 50%;
  border-collapse: collapse;
}
.ship--missed::before {
  content: "";
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  background-color: #f3f3f3;
  opacity: 0.3;
  border-radius: 50%;
  animation: overfill 1s ease alternate;
}
.ship--missed:hover {
  background-color: transparent !important;
}

.taken {
  background-color: #8c929c;
  cursor: default;
  border-bottom: 0.04vmin solid rgba(243, 243, 243, 0.15) !important;
}

.board-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
@media only screen and (max-width: 800px) {
  .board-btns {
    margin-top: 0;
  }
}

.board-btn {
  font-family: "Poppins";
  font-weight: 600;
  text-align: center;
  background-color: #dadada;
  border: none;
  color: #3c3f43;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 150ms ease-out;
}
@media only screen and (max-width: 800px) {
  .board-btn {
    padding: 0.7rem 1.4rem;
    font-size: 1.2rem;
  }
}
.board-btn--rotate {
  margin-right: 3rem;
}
.board-btn--rotate:hover {
  transform: translateY(-3%);
}
.board-btn--undo-move:hover {
  transform: translateY(-3%);
}
.board-btn--start {
  margin-top: 4rem;
  background: #2c9aff;
  position: relative;
  left: 25%;
  transform: translateX(-50%);
  border-radius: 5px;
  font-size: 1.6rem;
  color: #f3f3f3;
  animation: pulse 500ms ease infinite alternate;
}
@media only screen and (max-width: 800px) {
  .board-btn--start {
    margin-top: 1.7rem;
    font-size: 1.2rem;
  }
}
.board-btn--start--hidden {
  opacity: 0;
  visibility: hidden;
}

.information-box {
  display: none;
  text-align: center;
  color: #f3f3f3;
  font-size: 3.5vmin;
  text-transform: uppercase;
  margin-top: 1rem;
  animation: showInformation 6s cubic-bezier(0.01, 0.8, 0.71, 0.85) forwards;
}
@media only screen and (max-width: 600px) {
  .information-box {
    font-size: 2.1rem;
  }
}

@keyframes blink {
  from {
    background-color: #9b9b9b;
  }
  to {
    background-color: #b7b7b7;
  }
}
@keyframes pulse {
  from {
    transform: translateX(-50%) scale(0.98);
  }
  to {
    transform: translateX(-50%) scale(1.03);
  }
}
@keyframes indicateMove {
  from {
    transform: translateY(-3%);
  }
  to {
    transform: translateY(3%);
  }
}
@keyframes overfill {
  from {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.35;
  }
  to {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0;
  }
}
@keyframes showInformation {
  0% {
    opacity: 0.3;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/*# sourceMappingURL=styles.css.map */
