@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@font-face {
  font-family: 'Vermin Vibes';
  src: url('./../fonts/VerminVibes.otf') format('opentype');
}

$color-light: #f3f3f3;
$color-dark: #3c3f43;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}

#bg {
  background: linear-gradient(
      0deg,
      rgba(35, 35, 35, 0.4),
      rgba(35, 35, 35, 0.4)
    ),
    url('./../images/bg.jpg');
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  background-position: 50% 70%;
  z-index: -1;
  position: fixed;
}

.game-title {
  font-family: 'Vermin Vibes';
  font-size: 5rem;
  color: $color-light;
  text-align: center;
  padding-top: 5rem;
  letter-spacing: 0.5rem;
}

.form-wrapper {
  font-family: 'Vermin Vibes';
  background: rgb(133 133 133 / 90%);
  box-shadow: -15px -10px 20px 3px rgba(0, 0, 0, 0.25),
    10px 15px 20px 3px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: min-content;
  padding: 3rem 12rem;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.form {
  color: $color-light;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    font-size: 2.8rem;
  }

  &__username {
    margin: 3rem auto;

    label {
      display: block;
      font-size: 1.3rem;
      margin-bottom: 0.7rem;
    }

    input {
      font-family: 'Poppins';
      background: #c4c4c4;
      border-radius: 5px;
      width: 320px;
      height: 35px;
      border: none;
      font-size: 1.5rem;
      padding-left: 1rem;
      color: $color-dark;
      border-bottom: 5px solid transparent;
      transition: border-bottom 150ms ease-out;

      &:focus {
        outline: none;
        border-bottom: 5px solid #3c3f43;
      }
    }
  }

  &__option-btns {
    margin: 1.2rem 0;

    label {
      width: 320px;
      height: 50px;
      background: #9b9b9b;
      border: 1px solid #757575;
      border-radius: 5px;
      display: grid;
      place-items: center;
      cursor: pointer;
      margin-bottom: 2rem;
    }

    input {
      display: none;
      position: relative;

      &:checked + label {
        animation: blink 700ms ease-out infinite alternate;
      }
    }
  }

  &__button {
    font-family: 'Vermin Vibes';
    font-size: 2rem;
    background: #c4c4c4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 1rem 5rem;
    transition: all 250ms ease-out;
    cursor: pointer;

    &:hover,
    &:active {
      transform: translateY(-5%);
      background-color: lighten(#c4c4c4, 5%);
    }
  }
}

.app-actions {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 2%;
  right: 2%;
  width: 125px;
  height: 50px;

  &__bg,
  &__music {
    display: grid;
    place-items: center;
    width: 45px;
    height: 45px;
    background-color: $color-light;
    border-radius: 3px;
    cursor: pointer;
  }
}

@keyframes blink {
  from {
    background-color: lighten(#9b9b9b, 0%);
  }

  to {
    background-color: lighten(#9b9b9b, 11%);
  }
}
